<nav class="navbar navbar-expand-lg navbar-light login_header">
    <a class="navbar-brand" href="#"><img src="assets/images/bi-logo.svg" class="img-fluid" alt="" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

</nav>
<div class="setbg">
    <img src="assets/images/login-bg.jpg" alt="" />
</div>
<section class="login_wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Pharma Business Analysis Tool</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 welcome_wrapper">
                <h2>Welcome</h2>
                <p class="welcome_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                    only five centuries, but also the leap into electronic typesetting, remaining essentially
                    unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                    Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
                    including versions of Lorem Ipsum.</p>
            </div>
            <div class="col-12 col-md-6 login_form">
                <h2>Sign In User</h2>
                <form [formGroup]="login_form" (submit)="loginUser()">
                    <div class="form-group">
                        <label for="username">Username/Email Id</label>
                        <input type="text" class="form-control" name="" placeholder="Enter email"
                            formControlName="email" [ngClass]="{'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors">
                            <div *ngIf="f.email.errors.required">
                                <span style="color: red; font-size: 15px; font-weight: bold;">Email is required</span>
                            </div>
                            <div *ngIf="f.email.errors.email">
                                <span style="color: red; font-size: 15px; font-weight: bold;">Must be valid email</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="" placeholder="Enter password"
                            formControlName="password" [ngClass]="{'is-invalid': submitted && f.password.errors}" />
                        <div *ngIf="submitted && f.password.errors">
                            <div *ngIf="f.password.errors.required">
                                <span style="color: red; font-size: 15px; font-weight: bold;">Password is required</span>
                            </div>
                            <div *ngIf="f.password.errors.minlength">
                                <span style="color: red; font-size: 15px; font-weight: bold;">Must be of 6 characters</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Remember me</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Sign
                            In</button>
                    </div>
                    <div class="form-group login_terms">
                        <p class="mb-0">By entering this site you agree to our <a href="">Terms and Conditions</a> and
                            <a href="">Privacy Policy</a>.</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="login_footer">
            <p>© 2020 Business Intelligence Tool, All rights reserved.</p>
        </div>
    </div>
</section>