@media (max-width: 767.98px) {
    .login_wrapper {
        .welcome_wrapper {
            padding-right: 1rem;
        }
        .login_form {
            border: none;
            padding-left: 1rem;
            margin-top: 0;
        }
        h1 {
            font-size: 24px;
        }
        .welcome_wrapper {
            margin-top: 2rem;
            margin-bottom: 2rem;
            h2 {
                font-size: 20px;
                margin-bottom: 1rem;
            }     
            p.welcome_text {
                font-size: $base-font-size;
            }
        }  
        .login_form {
            h2 {
                font-size: 20px;
                margin-bottom: 1rem;
            }
            .btn-primary {
                padding: 0.5rem 1rem;
            }
        }
    }
    .setbg {
        img {
            width: auto;
            height: 100%;
        }
    }
}