.btn {
    font-size: $button-font-size;

    &.btn-primary {
        background: $website-brand-color;
        border-color: $website-brand-color;
    }
    &.btn-outline-primary {
        border-color: $website-brand-color;
        color: $website-brand-color;

        &:hover {
            background: $website-brand-color;
            color: $base-light-color;
        }
    }
}