.icon {
    background: url('../images/sprite-icons.png') no-repeat;
    display: inline-block;

    &.delete {
        width: 20px;
        height: 20px;
        background-position: -5px -4px;
    }
}