<div class="left_sidebar flyout_slider_ui">
    <div class="left_sidebar_header">
        <a href="" class="logo"><img src="../../../assets/images/bi-logo.svg" alt=""></a>
    </div>

    <div class="left_sidebar_form_wrapper preset_details">
        <div class="preset_details">
            <div class="form-group mb-0">
                <label for="">Load Preset</label>
            </div>
            <div class="form-group row mb-0">
                <div class="col-10 pr-0">
                    <select data-placeholder="Select" class="chosen-select">
                        <option value=""></option>
                        <option>American Black Bear</option>
                        <option>Asiatic Black Bear</option>
                        <option>Brown Bear</option>
                        <option>Giant Panda</option>
                        <option>Sloth Bear</option>
                        <option>Polar Bear</option>
                    </select>
                </div>
                <div class="col pl-0 preset_delete_action">
                    <a href=""><i class="icon delete"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="left_sidebar_form_wrapper">
        <div class="form-group row">
            <div class="col-12 col-md-6">
                <label for="">Start time</label>
                <select name="" class="chosen-select" data-placeholder="Select time" id="">
                    <option value=""></option>
                    <option value="">Feb 2019</option>
                </select>
            </div>
            <div class="col-12 col-md-6">
                <label for="">End time</label>
                <select name="" class="chosen-select" data-placeholder="Select time" id="">
                    <option value=""></option>
                    <option value="">March 2020</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="">Select Headquarter(s)</label>
            <select name="" class="chosen-select" data-placeholder="Please select" id="">
                <option value=""></option>
                <option value="">All Headquaters</option>
            </select>
        </div>
        <div class="form-group">
            <label for="">Select Division(s)</label>
            <select name="" class="chosen-select" data-placeholder="Please select" id="">
                <option value=""></option>
                <option value="">All Divisions</option>
            </select>
        </div>
        <div class="form-group">
            <label for="">Select Plant(s)</label>
            <select name="" class="chosen-select" data-placeholder="Please select" id="">
                <option value=""></option>
                <option value="">All Plants</option>
            </select>
        </div>
        <div class="form-group">
            <label for="">Select Stockist(s)</label>
            <select name="" class="chosen-select" data-placeholder="Please select" id="">
                <option value=""></option>
                <option value="">All Stockists</option>
            </select>
        </div>
        <div class="form-group">
            <label for="">Select Customer(s)</label>
            <select name="" class="chosen-select" data-placeholder="Please select" id="">
                <option value=""></option>
                <option value="">All Customer</option>
            </select>
        </div>
        <div class="form-group">
            <label for="">Select Doctor(s)</label>
            <select name="" class="chosen-select" data-placeholder="Please select" id="">
                <option value=""></option>
                <option value="">All Doctors</option>
            </select>
        </div>
    </div>
    <div class="left_sidebar_form_wrapper left_sidebar_footer_action">
        <div class="d-flex form-group justify-content-end">
            <button class="btn btn-primary mr-2">Save Preset</button>
            <button class="btn btn-outline-primary">Reset</button>
        </div>
    </div>
</div>
<a href="" class="leftflyout_close_action"><em></em></a>