.header_toggle_action {
    width: 100px;
    height: 10px;
    background: $website-brand-color-2;
    @extend .middle_align;
    position: fixed;
    left: 64%;
    top: 80px;
    margin-left: -50px;

    em {
        @include triangle(5px, 5px, 0, 5px, up, $base-font-color);
        display: inline-block;
        @extend .transition;
    }
    &.rotate_arrow {
        em {
            @include rotate(180);
            @extend .transition;
        }
    }
}

.navbar {
    width     : 100%;
    height    : $header-height;
    background: $website-brand-color;
    padding   : 0;

    .navbar-brand {
        width     : 216px;
        background: $base-light-color;
        position  : relative;
        padding   : 0.5rem 0 .5rem 1rem;

        &::after {
            content : '';
            position: absolute;
            right   : -40px;
            top     : 0;
            @include triangle(40px, 0, 40px, 40px, right, $base-light-color);
        }
    }

    &.login_header {
        z-index : 1;
        top     : 0;
        position: fixed;
    }
}

header {
    position: fixed;
    top: 0;
    width: calc(100% - 340px);
    height    : $header-height;
    background: $website-brand-color;
    z-index: 1;

    .navbar-nav {
        .nav-item {
            @extend .transition;
            position    : relative;
            margin-right: 10px;

            &:last-child {
                margin-right: 0;

                .nav-link {
                    &::after {
                        display: none;
                    }
                }
            }

            &::before {
                content        : '';
                background     : url('../images/header-arrow-sep.svg') no-repeat;
                left           : -30px;
                position       : absolute;
                top            : 1px;
                width          : 25px;
                height         : 100%;
                background-size: auto 100%;
            }

            .nav-link {
                font-size: 14px;
                padding  : 0;
                width    : 154px;
                height   : $header-height;
                @include flexbox();
                @include align-items(center);
                font-weight: 500;
                color      : $base-light-color;
                position   : relative;

                svg {
                    @extend .transition;
                    fill: $base-light-color;
                }

                span {
                    display: inline-block;

                    &.nav_link_icon {
                        width : 30px;
                        height: 30px;
                    }

                    &.nav_link_name {
                        padding-left: 10px;
                        width       : calc(100% - 30px);
                        line-height : 18px;
                    }

                    em {
                        display: block;
                    }
                }

                &.notification {
                    width: 70px;
                    position: relative;

                    .notification_number {
                        width: 20px;
                        height: 20px;
                        @extend .middle_align;
                        background: $danger-color;
                        @include border-radius(50px);
                        position: absolute;
                        top: 20px;
                        right: 32px;
                        color: $base-light-color;
                        font-size: $base-font-size;
                    }

                    .nav_link_icon {
                        width : 30px;
                        height: 30px;

                        svg {
                            width : 30px;
                            height: 30px;
                        }
                    }
                }

                &::before,
                &::after {
                    @extend .transition;
                    content : '';
                    position: absolute;
                    @include triangle(0, 24px, 40px, 40px, left, $website-brand-color);
                    left: -24px;
                    top : 0;
                }

                &::after {
                    left : auto;
                    right: 0px;
                }

                &.username {
                    background   : $website-brand-color-2;
                    padding-right: 1rem;
                    width        : 210px;

                    .user_name {
                        text-align: right;
                        padding-right: 10px;
                        line-height: 16px;
                        width: calc(100% - 36px);
                        h2 {
                            font-size    : 1rem;
                            color        : $base-font-color;
                            margin-bottom: 0;
                        }
                        span {
                            font-size: $base-font-size;
                            line-height: 14px;
                            color: $base-dark-grey;
                        }
                    }

                    .user_image {
                        width: 36px;
                        span {
                            width : 36px;
                            height: 36px;
                            @include border-radius(50px);
                            border-color: $base-font-color;
                            color: $base-font-color;
                            @extend .middle_align;
                            @extend .addborders;
                        }
                    }

                    &::before {
                        @extend .transition;
                        content : '';
                        position: absolute;
                        @include triangle(0, 24px, 40px, 40px, left, $website-brand-color-2);
                        left: -24px;
                        top : 0;
                    }
                }
            }

            &.active,
            &:hover {
                .nav-link {
                    @extend .transition;
                    background: rgba(255, 255, 255, 0.7);

                    svg {
                        @extend .transition;
                        fill: $base-font-color;
                    }

                    &::before {
                        @extend .transition;
                        content: '';
                        @include triangle(0, 24px, 40px, 40px, left, rgba(255, 255, 255, 0.7));
                    }
                }
            }
        }
    }
}